lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
node_modules/*
npm-debug.log
.idea
.idea/*
public/cdn/*

/tools/db-production-dump.bat
/tools/db-production-restore-to-local.bat
/dump/heroku_app10849811
