{>"views/partials/header.html"/}
<div id="{page.class}" class="page">
    <h2>{page.title}</h2>

    {@content}
    {#items}
    <div class="desc">
        {text|s}
    </div>
    {/items}
    {/content}

    <form action="">
        <label>
            Name
            <input type="text" name="name"/>
        </label>
        <label>
            Email
            <input type="text" name="email"/>
        </label>
        <label>
            Message
            <textarea name="message"></textarea>
        </label>

        <label class="submit">
            <button type="submit" class="send">Send Message</button>
        </label>
    </form>

    <aside>
        <h3>Israel Address:</h3>
        <p>
            Alenby street 15
            Tel-Aviv, 315246
            Israel
        </p>
        <h3>Call us:</h3>
        <p>(972) 3 12641238</p>

        <hr />

        <h3>USA Address:</h3>
        <p>
            Alenby street 15
            Tel-Aviv, 315246
            Israel
        </p>
        <h3>Call us:</h3>
        <p>(972) 3 12641238</p>

        <hr />

        <h3>Email us at:</h3>
        <p>info@mouse.com</p>
    </aside>
</div>
{>"views/partials/footer.html"/}
