html { overflow: hidden; height: 100%; }
body { overflow: auto; height: 100%;
    margin: 0; padding: 0;
    font: 18px/1 'Lato', Verdana, sans-serif;
    background: -webkit-linear-gradient(left, rgba(236,236,236,1) 7%,rgba(255,255,255,1) 48%); /* Chrome10+,Safari5.1+ */
}
* { box-sizing: border-box; }

.hide { display: none; }
.no-transition { -webkit-transition: none !important; }

a { margin: 0; padding: 0; text-decoration: none; }
li { margin: 0; padding: 0; list-style: none; }
ul { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 {
    margin: 0; padding: 0; font-weight: normal;
    color: #c10f00;
    font-weight: normal;
}
h1 {
    font-size: 90px; line-height: 1em;
    margin-top: 50px;
}
h2 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 50px;
}
h3 { font-size: 30px; }
#wrap {
    position: relative;
    z-index: 1;
    top: 0; left: 0;
    width: 100%; height: 100%;
}
.text {
    max-width: 1000px;
    max-height: 100%;
    overflow: auto;
}

/*
    header
*/
#header {
    width: 100px;
    background: rgba(255, 255, 2550, 0.9);
    border: 1px solid #c10f00; border-width: 0 1px 0 0;
    height: 100%;
    position: fixed;
    z-index: 2;
    overflow: hidden;
    -webkit-transition: width .5s;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}
#header:hover { width: 200px; }
#header a {
    display: block;
    width: 100%;
    height: 70px;
    background-position: 0 0;
    background-repeat: no-repeat;
    white-space: nowrap;
}
#header:hover a { background-position: 0 -70px; }
#header a:hover { background-position: 0 -210px; }
#header a.active {
    background-position: 0 -140px;
    background-color: #be3b33;
    box-shadow: black 0 0 13px 0 inset;
}
#header a.home {
    height: 68px;
    text-align: center;
    margin-bottom: 30px; padding: 45px 0 0 0;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 40%,rgba(214,214,214,1) 100%);
    box-shadow: none !important;
    font-size: 0;
}
#header a:hover img,
#header a.animate img {
    -webkit-animation: mouse 2s 1 ease;
}
@-webkit-keyframes mouse {
    0%, 100%    { -webkit-transform: translateX(0); opacity: 1; }
    49%         { -webkit-transform: translateX(100px); opacity: 0; }
    51%         { -webkit-transform: translateX(-100px); opacity: 0; }
}
#header a.works { background-image: url(../img/menuWork.png); }
#header a.about { background-image: url(../img/menuAboutUs.png); }
#header a.services { background-image: url(../img/menuServices.png); }
#header a.contact { background-image: url(../img/menuContact.png); }
#header span {
    line-height: 70px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 90px;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: opacity .5s;
}
#header:hover span { opacity: 1; }
#header a:hover span { color: #A50A00; }
#header .active span { color: white !important; }

/*
    content
*/
#content {
    position: relative; left: 0; top: 0;
    height: 100%; width: 100%;
    z-index: 1;
    overflow: hidden;
}
.desc {
    color: #2f383e;
    margin: 25px 0 0 0;
    max-width: 600px;
}
#main {
    position: relative;
    height: 100%;
    -webkit-transition: top .8s;
}
.page {
    height: 100%;
    padding: 0 50px 0 150px;
    position: relative;
    overflow: hidden;
}
#back li {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background: no-repeat bottom right;
    background-size: 30%;
    -webkit-transition: opacity .8s;
    opacity: 0;
}
#back li.show {
    opacity: 1;
}
#back li.big {
    background-position: bottom left;
    background-size: contain;
}
#home {
    height: 50%;
}
#contact {
    overflow: auto;
}


/*
    tabs
*/
.tabs {
    position: relative;
    width: 100%; height: 100%;
}
.tab {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    -webkit-transition: opacity 1.8s, -webkit-transform 1.8s;
    -webkit-transform: translateX(80%);
    opacity: 0;
    z-index: 2;
}
.tab.active {
    opacity: 1;
    z-index: 3;
    -webkit-transform: translateX(0);
}
.tab.next {
    -webkit-transform: translateX(-80%);
}
/*.tabs.with-menu {  }*/
.tabs.with-menu > .top-menu { padding-top: 30px; }
.tabs.with-menu > .tab { top: 0; height: 100%; padding-top: 60px; }
.tabs.with-menu.with-title > .top-menu { padding-top: 80px; }
.tabs.with-menu.with-title > .tab { padding-top: 120px; }


/*
    top-menu
*/
.top-menu {
    height: 50px;
    position: absolute; top: 0; left: 0;
    width: 100%;
    margin-left: -20px; padding: 10px 0 0 0;
    z-index: 20;
    font-size: 20px;;
    white-space: nowrap;
}
.top-menu li {
    display: inline-block;
    border-right: 2px solid #d5d5d5;
    padding: 0 14px;
    line-height: 16px;
    position: relative;
}
.top-menu li:last-child,
.top-menu li:nth-last-child(2) { border: 0; }
.top-menu li a {
    display: block;
    padding: 10px;
    color: #000;
    border: 1px solid transparent;
}
.top-menu li a img {
    margin-top: 5px;
    float: right;
    margin-left: 10px;
}
.top-menu li a.with-menu {
    padding-right: 30px;
    background: url(../img/ServicesUlArrowDownImg.png) no-repeat right center;
}
.top-menu li > a.active { color: #c10f00; }
.top-menu li > a:hover {
    background-color: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.3);
}
.top-menu .dropdown {
    display: none;
    width: 82%;
    position: absolute;
    padding: 8px;
    background: rgba(255,255,255,0.9);
    text-align: center;
    border: 1px solid #a7a7a7; border-radius: 5px;
    box-shadow: 0 0 4px #cacaca;
    z-index: 5;
    font-size: 18px;
}
.top-menu li:hover .dropdown {
    display: block;
}
.top-menu .dropdown li {
    display: inline;
    border: 0; padding: 0;
}
.top-menu .dropdown a {
    color: #1e2227;
    display: block;
    padding: 8px;
    margin: 0;
}
.top-menu .dropdown a:hover {
    color: #c10f00;
}
.top-menu .dropdown ul {
    margin: 0; padding: 0;
}
.top-menu li.red {
    display: none;
    float: right; clear: right;
    width: 150px;
    padding: 5px;
    border: 0;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 4px #cacaca;
}
.top-menu:hover li.red {
    display: block;
}
.top-menu li.more {
    display: none;
    position: absolute;
    bottom: -20px; right: 0;
    background: url(../img/ServicesUlArrowDownImg.png) no-repeat right center;
    width: 40px; height: 40px;
}
.top-menu li.red ~ li.more {
    display: block;
}


/*
    gallery
*/
.gallery {
    width: 100%; max-width: 1200px;
    padding: 0;
    text-align: center;
    position: relative;
}
.gallery img {
    display: inline-block;
    max-width: 80%; max-height: 90%;
    position: absolute; left: 0; top: 0;
    z-index: 10;
    -webkit-transition: -webkit-transform .4s;
}
.gallery img:nth-child(2) { position: relative; }
.gallery img:nth-child(3) { left: auto; right: 0; }
.gallery img.gal2 { -webkit-transform: scale(.90); z-index: 9; }
.gallery img.gal3 { -webkit-transform: scale(.83); z-index: 8; }

.gallery img:hover { -webkit-transform: translateY(-10px); }
.gallery img.gal2:hover { -webkit-transform: scale(.90) translateY(-10px); }
.gallery img.gal3:hover { -webkit-transform: scale(.83) translateY(-10px); }


/*
    work
*/
#works .top-menu, #works article div, #works h2 {
    -webkit-transition: opacity .8s;
    opacity: 0;
}
#works.active .top-menu, #works.active article div, #works.active h2 {
    opacity: 1;
}
#works a.nav {
    position: absolute; bottom: 53px; left: 5px;
    width: 52px; height: 77px;
    padding-top: 53px; box-sizing: border-box;
    text-align: center;
    background: url(../img/work-prev.png) no-repeat -52px 0;
    color: #626262;
    z-index: 20;
}
#works a.nav:hover {
    background-position: 0 0;
}
#works a.nav.next {
    left: 120px;
    background-image: url(../img/work-next.png);
}
#works article {
    max-width: 1500px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
#works article div {
    max-width: 1200px;
    padding: 0;
    color: #2f383e;
    text-align: justify;
}
#works article h3 {
    font-size: 40px;
}


/*
    works layouts:
        landscape (default)
        portrait
        portrait right
        el
        el right

*/
#works .landscape div {
    text-align: center;
}

#works .portrait { -webkit-box-orient: horizontal; }
#works .portrait .gallery { width: 60%; height: 80%; }
#works .portrait div { width: 40%; height: 60%; }
#works .portrait.right { -webkit-box-direction: reverse; }


#works .el .gallery { height: 100%; }
#works .el .gallery img {
    max-width: 50%; max-height: 60%;
    position: absolute; top: auto; left: auto;
}
#works .el .gallery img:nth-child(1) { bottom: 55%; right: 45%; }
#works .el .gallery img:nth-child(2) { top: 35%; right: 45%; }
#works .el .gallery img:nth-child(3) { top: 35%; left: 45%; }
#works .el div {
    width: 40%; max-width: 500px;
    position: absolute; bottom: 65%; left: 55%;
    padding: 0;
}

#works .el.right .gallery img:nth-child(1) { right: auto; left: 45%; }
#works .el.right .gallery img:nth-child(2) { right: auto; left: 45%; }
#works .el.right .gallery img:nth-child(3) { left: auto; right: 45%; }
#works .el.right div {
    left: auto; right: 55%;
}


/*
    contact us
*/
#contact aside,
#contact form {
    margin-top: 40px;
}

#contact aside {
    float: left;
    width: 20%; min-width: 180px;
    padding: 10px 20px;
    background: #f9f9f9;
    color: #c10f00;
    border-radius: 7px;
    box-shadow: 0 0 4px #d2d2d2;
}
#contact aside hr {
    border-bottom: 1px solid #c5c5c5;
    width: 100%; height: 1px;
}
#contact aside strong {
    font-weight: normal;
    font-size: 21px;
    margin: 20px 0 10px 0;
    color: #c10f00;
}
#contact aside p {
    padding: 0;
    font-size: 16px;
    color: #2f383e;
}

#contact form {
    float: left;
    width: 65%; max-width: 700px; min-width: 300px;
    min-height: 10%;
    margin-right: 5%;
    padding: 30px;
    background-color: #f6f6f6;
    border-radius: 5px;
    box-shadow: 0 0 7px #aba6a6;
}
#contact form label {
    font-size: 18px;
    color: #c10f00;
    display: block;
    margin-bottom: 10px;
}
#contact form textarea,
#contact form input {
    width: 100%; height: 5%;
    margin: 5px 0 10px 0; padding: 10px;
    font: 21px Verdana, sans-serif;
    color: #fff;
    background-color: #6b7176;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: black 0 0 10px inset;
}
#contact form textarea {
    min-height: 150px;
}
#contact .submit {
    float: right;
    width: 42%; height: 74px; min-width: 200px;
    margin: 0; padding: 8px;
    background: -webkit-linear-gradient(top, #e4e4e4 0%, #f3f3f3 100%);
    border-radius: 8px;
    text-align: center;
}
#contact .submit button {
    display: inline-block;
    width: 100%; height: 100%;
    font-size: 21px;
    text-align: center;
    line-height: 52px;
    border-radius: 4px;
    background-color: #f7f7f7;
    border: 1px solid #dadada;
}
#contact .submit button:hover {
    background-color: #f7f7f7;
    color: #c10f00;
    border: 1px solid #cf655c;
    box-shadow: 0 0 5px #cf655c;
}

/*
    clients
*/
.clients {
    max-width: 1500px;
    padding-top: 20px;
}
.clients a {
    float: left; margin: 10px;
}

/*
    scrollbars
*/
::-webkit-scrollbar { background: #f0f0f0; width: 10px }
::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, .2); border: 0; border-radius: 3px }
::-webkit-scrollbar-thumb:hover { background-color: rgba(0, 0, 0, .3) }
::-webkit-scrollbar-button {
    height: 10px;
    background-color: #646464;
    border-radius: 3px
}