html { overflow: hidden; height: 100%; }
body { overflow: auto; height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background: -webkit-linear-gradient(left, rgba(236,236,236,1) 7%,rgba(255,255,255,1) 48%); /* Chrome10+,Safari5.1+ */
}

.hide { display: none; }

a { margin: 0; padding: 0; text-decoration: none; }
li { margin: 0; padding: 0; list-style: none; }
ul { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; }
h1 {
    color: #c10f00;
    font-size: 40px;
    margin-bottom: 0.25em;
    font-family: 'Kozuka Gothic Pr6N', 'Myriad Pro', 'PTSansRegular', sans-serif;
    line-height: 1.0em;
    padding-top: 70px;
    font-weight: 100;
}
h2 {
    font-size: 36px;
    color: #c10f00;
    text-transform: uppercase;
    padding-top: 70px;
}

#wrap {
    position: relative;
    z-index: 1;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

/*
    header
*/
#header {
    width: 100px;
    background: rgba(255, 255, 2550, 0.6);
    border-right: 1px solid #c10f00;
    height: 100%;
    position: fixed;
    z-index: 2;
    overflow: hidden;
    -webkit-transition: width 0.5s;
}
#header:hover { width: 200px; }
#logo {
    padding: 45px 0 0 25px;
    display: block;
    background: none !important;
    box-shadow: none !important;
}
#header a.work { background-image: url(../img/menuWork.png); }
#header a.about { background-image: url(../img/menuAboutUs.png); }
#header a.services { background-image: url(../img/menuServices.png); }
#header a.contact { background-image: url(../img/menuContact.png); }
#header a {
    display: block;
    width: 100%;
    height: 70px;
    background-position: 0 0;
    background-repeat: no-repeat;
    white-space: nowrap;
}
#header span {
    line-height: 70px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-family: 'Kozuka Gothic Pr6N', 'Myriad Pro', PTSansRegular, Sans-Serif;
    padding-left: 105px;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: opacity .5s;
}
#header:hover span {
    opacity: 1;
}
#header:hover a { background-position: 0 -70px; }
#header a:hover { background-position: 0 -210px; }
#header a.active {
    background-color: #BE3B33;
    box-shadow: black 0 0 13px 0 inset;
}
#header .active span {
    color: white;
}
#header a.active {
    background-position: 0 -140px;
}


/*
    content
*/
#content {
    position: relative; left: 0; top: 0;
    height: 100%; width: 100%;
    z-index: 1;
    overflow: hidden;
}
.desc {
    font-size: 14px;
    line-height: 22px;
    color: #2f383e;
    margin: 25px 0 0 0;
    max-width: 600px;
}
#main {
    position: relative;
    height: 100%;
    -webkit-transition: top .8s;
}

.page-content {
    /*background:url(../img/BodyBg.png) repeat-y;*/
    margin: 0; padding: 0 30px 0 230px; box-sizing: border-box;
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
}

.mouse {
    position: absolute;
    right: 50px;
    bottom: 50px;
    max-width: 400px;
    width: 25%;
}

.mouse img {
    width: 100%;
    height: auto;
}

.works {
    position: absolute; left: 70px; bottom: 0;
    height: 400px;
}

.screenShots {
    position: relative;
    height: 550px;
    width: 100%;
    margin-top: 50px;
}

.works .work, .screenShots .work {
    position: absolute;
    top: 0; left: 0;
    padding: 25px 10px 0;
    background: url(../img/workBg.png);
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    z-index: 3;
}

.works .work.second, .screenShots .work.second {
    top: 50px;
    left: 200px;
    z-index: 2;
}

.works .work.third, .screenShots .work.third {
    top: 100px;
    left: 400px;
    z-index: 1;
}

form.contactus {
    margin-top: 40px;
}

/* Contact Us */
.Left {
    width: 50%;
    max-width: 700px;
    min-height: 5%;
    float: left;
    display: inline-block;
    padding: 2% 0 2% 3%;
    -moz-box-shadow: 0px 0px 7px #aba6a6;
    -webkit-box-shadow: 0px 0px 7px #aba6a6;
    box-shadow: 0px 0px 7px #aba6a6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f6f6f6;
}

.Left label {
    font-family: Verdana;
    font-size: 18px;
    color: #c10f00;
    display: block;
    margin-bottom: 1%;
}

.Left input {
    border: none;
    background-color: #6b7176;
    width: 94%;
    height: 5%;
    margin-bottom: 4%;
    color: #fff;
    font-family: Verdana;
    font-size: 21px;
    padding: 2% 0 2% 2%;
}

.Left textarea {
    border: none;
    background-color: #6b7176;
    width: 94%;
    height: 5%;
    margin-bottom: 4%;
    color: #fff;
    font-family: Verdana;
    font-size: 21px;
    padding: 2% 0 2% 2%;
    display: block;
    min-height: 150px;
}

.Left .button {
    width: 42%;
    height: 74px;
    margin-bottom: 5%;
    float: right;
    margin: 5% 5% 0 0;
    background: #e4e4e4; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e4e4e4 0%, #f3f3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4e4e4 0%, #f3f3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4e4e4 0%, #f3f3f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4e4e4 0%, #f3f3f3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e4e4e4 0%, #f3f3f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e4e4e4', endColorstr = '#f3f3f3', GradientType = 0); /* IE6-8 */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

.Left a.Send {
    font-family: Verdana;
    font-size: 21px;
    color: #c10f00;
    text-align: center;
    display: inline-block;
    width: 95%;
    height: 58px;
    margin: 10px auto 0;
    line-height: 52px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f7f7f7;
    border: 1px solid #dadada;
}

.Left a.Send:hover {
    background-color: #f7f7f7;
    border: 1px solid #cf655c;
    -webkit-box-shadow: 0px 0px 5px #cf655c;
    -moz-box-shadow: 0px 0px 5px #cf655c;
    box-shadow: 0px 0px 5px #cf655c;
}

.Right {
    width: 15%;
    max-width: 200px;
    min-height: 5%;
    float: left;
    display: inline-block;
    padding: 0 2% 0 2%;
    margin-left: 2%;
    background-color: #f9f9f9;
    -moz-box-shadow: 0px 0px 4px #d2d2d2;
    -webkit-box-shadow: 0px 0px 4px #d2d2d2;
    box-shadow: 0px 0px 4px #d2d2d2;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.Right .Cell3 {
    border-bottom: 1px solid #c5c5c5;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.Right .Cell3 p.Red {
    font-size: 21px;
    color: #c10f00;
    width: 100%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.Right .Cell3 p {
    font-size: 16px;
    color: #2f383e;
    width: 100%;
    margin-bottom: 2%;
    margin-left: 5%;
}

/*Services Page*/

ul.topMenu {
    padding: 30px 0 0 0;
}

ul.topMenu li.topLink {
    display: inline-block;
    border-right: 2px solid #d5d5d5;
    padding: 0 14px;
    font-size: 16px;
    line-height: 16px;
    height: 15px;
    position: relative;
    margin-bottom: 20px;
}

ul.topMenu li.last {
    border: 0;
}

ul.topMenu li a {
    display: block;
    padding: 10px;
    margin-top: -14px;
    color: #000;
    border: 1px solid transparent;
}

ul.topMenu li a img {
    margin-top: 5px;
    float: right;
    margin-left: 10px;
}

ul.topMenu li a.hasSubMenu {
    padding-right: 30px;
    background: url(../img/ServicesUlArrowDownImg.png) no-repeat right center;
}

ul.topMenu li.topLink > a:hover {
    background-color: #f3f3f3;
    color: #c10f00;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

ul.topMenu li .dropdown {
    width: 82%;
    position: absolute;
    display: none;
    min-height: 100px;
    background-image: url(../img/OpacityBg.png);
    padding: 10% 5px;
    text-align: center;
    border: 1px solid #a7a7a7;
    box-shadow: 0 0 4px #cacaca;
    z-index: 5;
}

ul.topMenu li:hover .dropdown {
    display: block;
    padding: 12px 0;
}

ul.topMenu li .dropdown li {
    border: 0; padding: 0;
}

ul.topMenu li .dropdown a {
    font-family: Verdana;
    font-size: 14px;
    color: #1e2227;
    display: block;
    padding: 12px;
    line-height: 20px;
    margin: 0;
}

ul.topMenu li .dropdown a:hover {
    color: #c10f00;
}

ul.topMenu li .dropdown ul {
    margin: 0;
    padding: 0;
}

.tab {
    display: none;
}

.tab.visible {
    display: block;
}

/* Work page*/

.textSlide {
    width: 770px;
    min-height: 15px;
    font-family: Verdana;
    font-size: 14px;
    color: #2f383e;
    margin-top: 30px;
    position: relative;
    padding-right: 54px;
}

.projects-nav {
    position: absolute;
    min-height: 550px;
    top: 0; left: 60px;
}

.projects-nav a.previous {
    background-image: url(../img/WorkTextSlidePrevBG.png);
    background-repeat: no-repeat;
    background-position: -52px 0;
    position: absolute;
    left: 80px;
    top: 640px;
    width: 52px;
    height: 77px;
    color: #9d9d9d;
}

.projects-nav a.previous:hover {
    background-position: 0 0;
}

.projects-nav a p {
    margin-top: 53px;
    text-align: center;
}
.textSlide h2 {
    font-family: Verdana;
    font-size: 36px;
    color: #c10f00;
    display: inline-block;
    float: left;
    margin-left: 105px;
}

.textSlide p.text {
    margin-top: 30px;
    display: inline-block;
    margin-left: 105px;
}

.projects-nav a.next {
    background-image: url(../img/WorkTextSlideNextBG.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 700px;
    top: 640px;
    width: 52px;
    height: 77px;
    color: #9d9d9d;
}

.projects-nav a.next:hover {
    background-position: -52px 0;
}

.fullLeft {
    position: absolute;
    left: 0;
    bottom: 10px;
}
