<div class="tabs with-menu{?display_title} with-title{/display_title}">
    {?display_title}
        <h2>{title}</h2>
    {/display_title}

    <ul class="top-menu">
        {#children}
        <li>
            <a href="#" rel="{_id}" class="{@first}active{/first}{?children} with-menu{/children}">{title}</a>
            {?children}
            <ul class="dropdown">
                {#children}
                <li><a href="#" rel="{_id}">{title}</a></li>
                {/children}
            </ul>
            {/children}
        </li>
        {/children}
    </ul>

    {#children}
    <section class="tab{@first} active{/first}" id="tab-{_id}">
        {?template}
            {>"views/templates/{template}"/}
        {:else}
            {>"views/templates/tab.html"/}
        {/template}
    </section>
        {#children}
        <section class="tab" id="tab-{_id}">
            {?template}
                {>"views/templates/{template}"/}
            {:else}
                {>"views/templates/tab.html"/}
            {/template}
        </section>
        {/children}
    {/children}
</div>