<div class="tabs">
    <a href="#" class="nav prev">Previous Project</a>
    <a href="#" class="nav next">Next Project</a>

    {#works}
    <article class="tab {layout}{@first} active{/first}">
        <figure class="gallery">
            {@first}
                <img src="{picture1.url}" class="gal2" />
                <img src="{picture2.url}" />
                <img src="{picture3.url}" class="gal2" />
            {:else}
                <img src="img/gray.png" data-original="{picture1.url}" class="gal2" />
                <img src="img/gray.png" data-original="{picture2.url}" />
                <img src="img/gray.png" data-original="{picture3.url}" class="gal2" />
            {/first}
        </figure>
        <div>
            <h3>{title}</h3>
            {text|s}
        </div>
    </article>
    {/works}
</div>